  
  .highlight {
    display: block !important;
    padding: 1em !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #e8e8e8 !important;
  }
  
  code {
    background-color: #e8e8e8 !important;
  }

  .highlight code {
    display: block;
  }

  .highlight pre {
    display: block !important;
    background-color: #e8e8e8 !important;
  }